<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Premium Mobile Auto Dealing And More!</h2>
                <hr class="light">
                <p class="text-faded">Gomez Mobile Detailing has been providing excellent detail service since 2018. Customer satisfaction is our number one priority.
                    Some services that we provide are exterior washes/details, interior details, engine bay, undercarriage, and much more.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Me</a>
            </div>
        </div>
    </div>
</section>
