<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary"></i>
                    <h3>Any Car</h3>
                    <p class="text-muted">Detailing for all cars available.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Perfect Detail</h3>
                    <p class="text-muted">Professionals with the skill to have your car looking brand new!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Top Of The Line</h3>
                    <p class="text-muted">We use only the best available products for your automobile.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-location-arrow wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Anywhere</h3>
                    <p class="text-muted">Services provided anywhere in the greater Chicagoland area.</p>
                </div>
            </div>
        </div>
    </div>
</section>
